* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

main {
  padding-bottom: 16.5em;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    line-height: 0;
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
    
}

body::-webkit-scrollbar{
   width: 0.75vw;
}

body::-webkit-scrollbar-thumb{
  background-color: #1094E7;
  border-radius: 100vw;
  border: 0.25vw solid rgb(10, 10, 10);
}

body::-webkit-scrollbar-track{
  background-color: rgb(10, 10, 10);
  border-radius: 100vw;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

img{
    max-width: 15%;
    align-self: center;
}

.header {
    position: fixed;
    width: 100vw;
    height: 6.4em;
    background-color: black;
    overflow: hidden;
    margin: 0 auto;
    background-image: 
    repeating-linear-gradient(
      45deg, 
      transparent, 
      transparent 1rem,
      #0e0e0e 1rem,
      #0e0e0e 2rem
    );
  background-size: 200% 200%;
  animation: barberpole 100s linear infinite;
  z-index: 9;
}

@keyframes barberpole {
    100% {
      background-position: 100% 100%;
    }
  }

.header img {
    max-width: 7em;
    transition: 0.25s all ease-in-out;
    margin-right: 25px;
}

.header img:hover {
    transform: scale(1.05);
}

.navbar{
    position: fixed;
    top: 6.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.3em;
    background-color: #1094E7;
    z-index: 10;
}

.navbar ul{
    margin-left: 1.3em;
    display: flex;
    font-weight: 600;
}


.navbar ul li a{
    padding: 0px 1.3em;
    transition: 0.5s;
}

.navbar ul li a:hover{
    padding: 0px 1.8em;
    transition: 0.5s;
    color: black;
}

#About-me{
  position: relative;
  top: 9.375em;
  color: white;
  line-height: 1em;
  display: block;
}

hr.rounded {
  margin-right: 0.46875em;
  margin-top: 0.9375em;
  width: 4.6875em;
  border-top: 8px solid #1094E7;
  border-color: #1094E7;
  border-radius: 5px;
}

#dev{
  font-size:large;
  padding-top: 30px;
}

#Socials{
  position: relative;
  color: white;
  top: 430px;
}

#videoWrapper {
  position: relative;
  top: 480px;
  width: 18.75em;
  height: 10.625em;
}

.iframe-container{
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  padding-top: 0; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cards {
    position: relative;
    top: 350px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;  
    width: 100%;
    justify-content:center;
    z-index: 1;
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 140px;
    flex-direction: column;
    position: relative;
    width: 380px;  
    transition: 0.5s;
    margin: 0px;
    padding: 0px;
  }
  
  .gamecard {
    border-radius: 10px;
    cursor: pointer;
    height: 214px;
    position: relative;
    width: 380px;  
    transition: 0.5s;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  .gamecard img{
    position: absolute;
    max-width:none;
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    transition: 3s;
  }

  .gamecard:hover {
    transition: 0.5s;
    transform: scale(1.08);
  }

  .gamecard img:hover{
    transition: 5s;
    transform: scale(1.2);
  }
  
  .recard {
    align-self: center;
    display: flex;
    line-height: 40px;
    border-radius: 10px;
    cursor: pointer;
    aspect-ratio: 3 / 2;
    width: 35dvw;
    position: relative; 
    transition: 0.5s;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    overflow-x: hidden;
  }

  .recard img{
    position: absolute;
    max-width:none;
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
  }

 #BU{
  z-index: 3;
  padding-top: 80%;
  opacity: 0;
  transition: 0.5s;
 }

 .recard:hover{
  transition: 0.5s;
  transform: scale(1.08);
}

  .recard:hover > img{
    filter: brightness(0.2);
    transition: 0.5s;
  }

  #BU:hover{
    z-index: 3;
    padding-top: 30%;
    opacity: 100%;
    transition: 0.5s;
   }

  .card:hover{
    transition: 0.5s;
    transform: scale(1.05);
  }

  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.1),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: rgb(23, 23, 23);
    border-radius: inherit;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    overflow: hidden;
  }
  
  .card-info-wrapper {
    position: absolute;
    top: 70px;
    padding: 0px 160px;
  }

.card-image{
  position: absolute;
  top: 10px;
  left: 30px;
  width: 200%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.botbar{
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #1094E7;
}

.footer{
  color: white;
  bottom: 0;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100px;
  background-color: black;
  overflow: hidden;
  margin-top: auto;
  background-image: 
  repeating-linear-gradient(
    45deg, 
    transparent, 
    transparent 1rem,
    #0e0e0e 1rem,
    #0e0e0e 2rem
  );
background-size: 200% 200%;
animation: barberpole 100s linear infinite;
z-index: 9;
}

@media only screen and (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }
  .navbar ul li {
    display: block;
  }
  #cards {
    position: relative;
    top: 350px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;  
    width: 100%;
    justify-content:center;
    z-index: 1;
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 140px;
    flex-direction: column;
    position: relative;
    width: 380px;  
    transition: 0.5s;
    margin: 0px;
    padding: 0px;

    .recard {
      align-self: center;
      display: flex;
      line-height: 40px;
      border-radius: 10px;
      cursor: pointer;
      aspect-ratio: 3 / 2;
      width: 341px;
      position: relative; 
      transition: 0.5s;
      margin: 0px;
      padding: 0px;
      overflow: hidden;
      overflow-x: hidden;
    }
  }
}